<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
   
    <div class="box">
      <% for (var i=0; i<newPatient.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p>Patient name: <%= newPatient[i] %></p>
        </div>        
        <% } %>
    </div>
    <div class="box" id="heading">
      <h1 class="h3 mb-3 font-weight-normal">Add New Patient</h1>
    </div>
     
    <form action="/" class="" method="POST">   

      <input
        type="text"
        class=""
        placeholder="First Name"
        name="fName"
        required
        autofocus
        autocomplete="off"
      />
      <input
        type="text"
        class=""
        placeholder="Last Name"
        name="lName"
        required
        autocomplete="off"
      />

      <button class="" type="submit" name="list" value=<%= listTitle %>>
        +
      </button>
    </form>
  </body>

  <%- include("footer") -%>

